h2{
    color: blue;
    text-align: center;
    border: 5px dashed purple;
    cursor: pointer;
    
}
p{
    color: red;
}
body{
    background-image: url(19.png);
    background-size: cover;
}
li{
    list-style: none;
    display: inline-block;
}